html, body {
    font-family: 'Quicksand',Sans-serif;
    background-color: #f7fafd;
}

.top-bar {
    background: #24292d;
    height: 37px;
    margin-bottom: 0px;
    color: white;
}

.logo h3 {
    vertical-align: top;
    margin-top:0px;
}

.login-button {
    height: 37px;
    width: 100px;
    background-color: #2ba6cb;
    margin: 0 !important;
    padding: 0 !important;
    border: none;
    vertical-align: top;
    color: white;
    font-family: 'Quicksand';
    font-weight: 700;
    font-size: 16px;
    display: inline-block !important;
}

.button_to {
    display: inline;
}

.my-form-control {
    width: 30% !important;
    margin: 0 !important;
    padding: 0 0 0 15px !important;
    padding-left: 10px;
    height: 37px !important;
    vertical-align: top;
    display: inline-block !important;
    border-radius: 0 !important;
    background-color: #1f2327 !important;
    border: none !important;
    color: white !important;
}

.dark-col {
    background: #1f2327;
    height: 100%;
}

.fill {
    height: 100%;
}

.report-card {
    display: block;
    margin-left: 50px;
    margin-top: 50px;
}

.report-card > img {
    height:auto;
    width:auto;
    max-width:300px;
    max-height:300px;
}

.report-card > h2 {
    color: white;
    text-transform: uppercase;
    font-family: 'Quicksand',Sans-serif;
}

section.report-card  button {
    color: white;
    height: 50px;
    width: 300px;
    background: #2ba6cb;
    font-size: 22px;
    margin-top: 20px;
}

section.report-card div.report-card-desc {
    font-size: 12px;
    line-height: 1.5;
    color: white;
    clear: both;
}

section.about {
    padding: 60px 0 60px 0;
}

section.about h2 {
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    color: #4F4746;
    line-height: 1.1;
    margin-bottom: 14px;
    margin-top: 14px;
    text-rendering: optimizeLegibility;
}

.line {
    background: #aaa;
    height: 1px;
    width: 17%;
    margin: 0 auto;
}

footer {
    background: #30353B;
    padding: 15px 0 10px;

}

footer h1 {
    color: white;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
}

div.about-desc h3 {
    color: #4F4746;
    font-weight: 400;
    text-align: center;
}

div.about-desc img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.about-desc h4 {
    color: #4F4746;
    font-weight: 400;
    text-align: center;
