.bullet { font: 10px sans-serif; }
.bullet .marker { stroke: #000; stroke-width: 2px; }
.bullet .tick line { stroke: #666; stroke-width: .5px; }
.bullet .range.s0 { fill: #eee; }
.bullet .range.s1 { fill: #ddd; }
.bullet .range.s2 { fill: #ccc; }
.bullet .measure.s0 { fill: lightsteelblue; }
.bullet .measure.s1 { fill: steelblue; }
.bullet .title { font-size: 14px; font-weight: bold; }
.bullet .subtitle { fill: #999; }
.bullet {z-index: 20}

.domain {
  fill: none;
  stroke: black;
  stroke-width: 1;
}

#reportcard_vis_container {
  margin: 0px;
}

#main {
    margin-left: 20px;
    padding-bottom: 250px;
}

@media screen and (max-width: 760px) {
    #main {
        margin-left: 10px;
    }
}

.bullet g {
    margin-left: 0;
    z-index: 100000;
}

svg {
    /*-webkit-transform-origin-x: 0%;
    -webkit-transform-origin-y: 50%;
    -webkit-transform-origin-z: initial;*/
    display: block;
}

svg g {
    display: block;
}

.lineup-table {
    margin-top: 15px;
}

.plotpoints {
    /*fill: rgb(66, 139, 202);*/
    fill: red;
    stroke: blue;
    r: 6;
}

.dashboard-header {
    width: 95%;
}

@media screen and (max-width: 760px) {
    .dashboard-header {
        padding: 0px;
    }
}

.best-trade h3 {
    display: block;
    width: 100%;
}

div.best-trade-panel div.row {
    height: 50px;
}

.dark-blue-header {
    /*background-color: #000480;*/
    background-color: hsl(210, 60%, 20%);
    color: white;
}

.light-blue-header {
    background-color: hsl(210, 90%, 70%);
    color: white;
}


.summary-header {
    height: 40px;
    padding: 3px;
    border: 1px solid black;
}

.summary-header h3 {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 0px;
    margin: auto 0px;
    text-shadow: 2px 2px #000000;
}

.trade-columns {
    margin: 0px;
    padding-left: 10px;
}

.players-added {
    height: 100%;
}

.players-added  h4 {
    text-align: left;
}

.navigation-colum {
    padding: 0px;
}


.trade-winner {
    background-color: hsla(143, 99%, 76%, 1);
}

.trade-loser {
   background-color: hsla(360, 100%, 64%, 1);
}

#league_navigation {
    height: 50px;
}


.strong {
    font-weight: bold;
    font-size: 16px;
}

.league-summary {
    min-height: 170px;
    margin-bottom: 30px;
}

.league-summary > .col-sm-4 {
    /*min-height: 100%;*/
/*    min-height: 200px;*/
    height: 100%;
}

.best-panel {
    height: 100%;
    text-align: center;
}
.best-panel-wrapper h3 {
    margin: 0px;
    padding-top: 10px;
    /*padding: 10px 0px;*/
}

.best-panel-wrapper {
    background-color: hsla(143, 99%, 76%, 1);
    height: 100%;
}
