.bullet { font: 10px sans-serif; }
.bullet .marker { stroke: #000; stroke-width: 2px; }
.bullet .tick line { stroke: #666; stroke-width: .5px; }
.bullet .range.s0 { fill: #eee; }
.bullet .range.s1 { fill: #ddd; }
.bullet .range.s2 { fill: #ccc; }
.bullet .measure.s0 { fill: lightsteelblue; }
.bullet .measure.s1 { fill: steelblue; }
.bullet .title { font-size: 14px; font-weight: bold; }
.bullet .subtitle { fill: #999; }
.bullet {z-index: 20}

.domain {
  fill: none;
  stroke: black;
  stroke-width: 1;
}

#reportcard_vis_container {
  margin: 0px;
}

#main {
    margin-left: 20px;
    padding-bottom: 200px;
}

.bullet g {
    margin-left: 0;
    z-index: 100000;
}

svg {
    /*-webkit-transform-origin-x: 0%;
    -webkit-transform-origin-y: 50%;
    -webkit-transform-origin-z: initial;*/
    display: block;
}

svg g {
    display: block;
}

.lineup-table {
    margin-top: 15px;
}