.register-container {
    max-width: 500px;
    margin: auto;
    background-color: white;
    min-height: 700px;
    padding: 20px;
    text-align: center;
}

#wrapper {
    padding-left: 0px;
    min-height: 700px;
    background-color: #f7fafd;
}


.form-control {
    display: block;
    width: 350px;
    height: 50px;
    margin: 10px auto auto auto;
    padding-left: 10px;
}

.btn {
    margin-left: 20px;
    margin-bottom: 40px;
}

.espn_entry {
    background-color: #0DB04A;
    border: 1px solid #333333;
    padding: 5px;
    margin: auto;
    color: white;
    text-shadow: #2c2c2c 3px 3px 5px;
}

.espn_entry input {
    border: 1px solid #333333;
}

.espn_entry p {
    display: inline;
    text-shadow: none;
    text-shadow: -1px 0 #333 0 1px #333, 1px 0 #333, 0 -1px #333;

}

.line {
    background: #aaa;
    height: 1px;
    width: 17%;
    margin: 10px auto;
}

input[type="checkbox"] {
    font-weight: bolder;
    text-shadow: #2c2c2c 1px 1px 1px;
}

.league-summary {
    text-align: center;
}