{% extends "teams/base.html" %}

{% block content %}
    <div class="container-fluid">
    <img  src="/static/ajax-loader.gif" id="league_loading_gif" />
        <div class="row">
            <h3>Your Leagues</h3>
            <div id="accounts_list"></div>
        </div>

        <div clas="row">
            <h3>Import A New Espn League</h3>
            <div class="col-lg-6">
                <form method="POST" action="espn/" role="form">
                    <div class="form-group">
                        {% csrf_token %}
                        <label>ESPN Username</label>
                        <input name="username" class="form-control">
                        <label>Password</label>
                        <input name="password" type="password" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-default">Login</button>
                </form>
            </div>
        </div> <!--row-->
    </div> <!--container-fluid-->
{% endblock %}

{% block endscripts %}
    {{ block.super }}


    <script type="text/template" id="league_template" >
        <% if (loaded) { %>
           <a href="league2/<%=espn_id %>/<%=year %>/"><li><%=name %> <%=year %></li></a>
        <% } else { %>
                <li>Loading: <%=name %> <%=year %></li>
        <% } %>
    </script>

    <script type="application/javascript">
        $(document).ready(function () {
            league_template = _.template($("#league_template").html());
            var source = league_template.source
            console.log(league_template);
            var getLeagues = function() {
                $.ajax("json/").done(function (data) {
                    $("#accounts_list").empty();
                    console.log("data is ", data);
                    if (data.accounts.length == 0) {
                        $("#league_loading_gif").hide();
                    }
                    for (var i = 0; i < data.accounts.length; i++) {
                        console.log("account is ", data.accounts[i]);
                        var leagues = data.accounts[i]
                        if (!data.loaded) {
                            $("#accounts_list").append("Loading User...");
                            setTimeout(getLeagues, 5000);
                        } else {
                            $("#league_loading_gif").hide();
                        }
                        if (leagues.length.length == 0) {
                            $("#accounts_list").append($("<p>You have not imported any leagues.</p>"));
                        }
                        for (var j = 0; j < leagues.length; j++) {
                            league_html = league_template(leagues[j].fields);
                            console.log("league html", league_html);
                            $("#accounts_list").append(league_html);
                        }
                    }
                });
            };
            getLeagues();
        });
    </script>

{% endblock %}
