{% extends "teams/base.html" %}

{% block pagescripts %}
  <link href="/static/css/all_leagues.css" rel="stylesheet">
{% endblock %}

{% block content %}
  <div id="page-wrapper">
    <div class="container-fluid">

      <div class="user-panel">
        <h3>Your Imported Accounts</h3>
        <table>
          <tr>
            <td>
              <span class="espn">ESPN ID: </span>
            </td>
            <td>
              {{ espn_user.username }}
            </td>
          </tr>
          <tr>
            <td>
            Successfully Connected:
            </td>
            <td id="user-loaded">
              {{ espn_user.loaded }}
            </td>
          </tr>
        </table>
      </div>
      <!--<img  src="/static/ajax-loader.gif" id="league_loading_gif" />-->
      <div class="row leagues-panel">
        <h3>Your Leagues</h3>

        <div id="accounts_app">
          <table id="accounts_list" class="table table-bordered table-hover table-striped">
            <tr>
              <th>League Name</th>
              <th>Last Updated</th>
            </tr>
          </table>
        </div>
        <br/>

        <p>Note: Leagues will be automatically updated Tuesdays at midnight, assuming at least one league member has
          enabled automatic updates. Otherwise, after Tuesdays you will be prompted with the opportunity to reload.</p>

        <p>Note: Historical Leagues (before 2014) are supported but temporarily disabled during this beta period.</p>
      </div>

      <div class="espn-import">
        <h3>Update Your ESPN Account Info</h3>

        <div class="col-lg-6">
          <form method="POST" action="espn/" role="form">
            <div class="form-group">
              {% csrf_token %}
              <label>ESPN Username</label>
              <input name="username" class="form-control">
              <label>Password</label>
              <input name="password" type="password" class="form-control">
              <button type="submit" class="btn btn-default">Login</button>
            </div>
          </form>
        </div>
      </div>
      <!--row-->
    </div>
    <!--container-fluid-->
  </div>



{% endblock %}

{% block endscripts %}
  <script data-main="/static/js/main" src="/static/require.js"></script>
{% endblock %}
