{% extends "teams/base.html" %}


    {% block pagescripts %}

    <style>
    .bullet { font: 10px sans-serif; }
    .bullet .marker { stroke: #000; stroke-width: 2px; }
    .bullet .tick line { stroke: #666; stroke-width: .5px; }
    .bullet .range.s0 { fill: #eee; }
    .bullet .range.s1 { fill: #ddd; }
    .bullet .range.s2 { fill: #ccc; }
    .bullet .measure.s0 { fill: lightsteelblue; }
    .bullet .measure.s1 { fill: steelblue; }
    .bullet .title { font-size: 14px; font-weight: bold; }
    .bullet .subtitle { fill: #999; }


    .domain {
      fill: none;
      stroke: black;
      stroke-width: 1;
    }
    </style>
    {% endblock %}

{% block content %}
    <div class="container">
        <div class="navbar-collapse collapse">
            <ul class="nav nav-tabs">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Teams<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        {% for team in teams %}
                            <li><a href="#/team/{{ team.espn_id }}">{{ team.team_name }}</a></li>
                        {%  endfor %}
                    </ul>
                <li id='report-card-tab' class="active"><a href="#reportcard">Report Card</a></li>
                <li id="lineup-tab">
                  <a href="#lineups"  >Lineups</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="tab-content">
        <div class="tab-pane active" id="report-card">
            <div class="container-fluid">

                <div class="container" id="chart_container" style="margin-bottom:30px">
                      <!--<row>
                      <svg class="chart" width="420" height="120">      </svg>
                      </row>-->
                      <!--<row>-->
<!--                              <div class="title" style="text-align: center"><h1>League Report Card <br /> <span style="font-style: italic">Gotham City Rogues </span></h1></div>-->
                      <!--</row>-->
                </div>
                <!--
                <div class="row">
                    <div class="col-lg-3">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                    Lineup Score 81
                            </div>
                            <div class="panel-footer">
                                Learn More
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="panel-yellow">
                            <div class="panel-heading">
                                    Trade Score 79
                            </div>
                            <div class="panel-footer">
                                Learn More
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="panel panel-red">
                            <div class="panel-heading ">
                                    Waiver Score 40
                            </div>
                            <div class="panel-footer">
                                Learn More
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="panel panel-red">
                            <div class="panel-heading ">
                                    Draft Score 32
                            </div>
                            <div class="panel-footer">
                                Learn More
                            </div>
                        </div>
                    </div>
                </div>-->
            </div>
        </div>
        <div id="lineups">
            <div class="title" style="text-align: center"><h1>Week-By-Week Analysis <br /> <span style="font-style: italic">Gotham City Rogues </span></h1></div>
            <div id="lineup-vis-container" style="text-align: center">
                <h1>Lineup Calculations</h1>

                <!--<svg id="lineup-vis" width="1000" height="200"></svg>-->
                <!--<div id="lineup_table_container">
                    <script id="lineup-table-template" type="text/template">
                        <table class="table table-bordered table-striped">
                            <tbody>
                            <tr>
                                <td>Week</td>
                                <% _.each(scorecards, function(scorecard) { %>
                                <td><%= scorecard.week %></td>
                                <% }); %>
                            </tr>
                            <tr>
                                <td>Delta</td>
                                <% _.each(scorecards, function(scorecard) { %>
                                <td><a href="<%= team_id %>/lineup/<%= scorecard.week %>" ><%= scorecard.delta %> </a></td>
                                <% }); %>
                            </tr>
                            </tbody>
                        </table>
                    </script>
                </div>
                -->
            </div>
            </div>
        </div>
    </div>



{% endblock %}

{% block endscripts %}
    {{ block.super }}

    <script src="http://d3js.org/d3.v3.min.js"  charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/bullets.js"></script>

    <script id="lineup-table-template" type="text/template">
                        <table class="table table-bordered table-striped">
                            <tbody>
                            <tr>
                                <td>Week</td>
                                <% _.each(scorecards, function(scorecard) { %>
                                <td><%= scorecard.week %></td>
                                <% }); %>
                            </tr>
                            <tr>
                                <td>Delta</td>
                                <% _.each(scorecards, function(scorecard) { %>
                                <td><a href="<%= team_id %>/lineup/<%= scorecard.week %>" ><%= scorecard.delta %> </a></td>
                                <% }); %>
                            </tr>
                            </tbody>
                        </table>
    </script>

    <script type="text/javascript">


$(document).ready(function() {

    data = [
        {"title": "Lineup", "subtitle": "Points Missed", "ranges": [25, 75, 100], "measures": [90], "markers": [64]},
        {"title": "Waiver", "subtitle": "Value Gained", "ranges": [25, 75, 100], "measures": [35], "markers": [25]},
        {"title": "Draft", "subtitle": "Value Gained", "ranges": [25, 75, 100], "measures": [25], "markers": [25]},
        {"title": "Trades", "subtitle": "Value Gained", "ranges": [25, 75, 100], "measures": [50], "markers": [74]}
    ];

    var ReportCardModel = Backbone.Model.extend({

       url: function() {
           return this.get("team_id") + '/';
       }
    });

    var roguesReportCard = new ReportCardModel({
        team_id: '6'
    });


    Backbone.View.prototype.hide = function() {
        this.$el.hide();
    };

    Backbone.View.prototype.show = function() {
        this.$el.show();
    };


    var ReportCardView = Backbone.View.extend({
        className: 'bullet_row_backbone',

        initialize: function() {
            this.listenTo(this.model, "change:lineup_score", this.render);
        },

        render: function() {
            this.$el.append($('<div id="bullet_row"> </div>'));
            data[0].measures[0] = this.model.get('lineup_score');
            $('#chart_container').append(this.el);
            if (!this.bulletChart) {
                this.bulletChart = new BulletChart(data);
            } else {
                this.bulletChart.updateBullets(data);
            }
            return this;
        }

    });

    var LineupGraphView = Backbone.View.extend({
        className: 'lineup_graph_container',

        initialize: function() {
            this.listenTo(this.model, "change:scorecards", this.updateLineChart);
        },

        updateLineChart: function() {
            var scorecards = this.model.get('scorecards');
            scorecards.sort(function(a, b) {
                return a.week - b.week;
            });
              updateLineChart(scorecards);
        },

        render: function() {
            console.log("rendering view: ", this.$el)
            //this.$el.html('<svg id="lineup-vis" width="1000" height="200"></svg>');
            console.log("scorecards: ", this.model.get('scorecards'));
            var scorecards = this.model.get('scorecards');
            scorecards.sort(function(a, b) {
                return a.week - b.week;
            });
            var lineupGraph = this.$el.html('<div id="lineup_graph_svg_container"></div>');
            buildLineCharts(this.$el.find('#lineup-vis'), scorecards);
            return this;
        },

        update: function() {
            console.log("updating:", $("#lineup-vis"));
            buildLineCharts(null, this.model.get('scorecards'));
        }

    });

    var LineupTableView = Backbone.View.extend({

        'template': _.template($("#lineup-table-template").html()),

        initialize: function() {
            this.listenTo(this.model, "change:scorecards", this.render);
        },

        render: function() {
            this.$el.html(this.template({'team_id': this.model.get('team_id'), 'scorecards': this.model.get('scorecards')}));
            return this;
        }
    });




    roguesReportCard.fetch();

    var AppRouter = Backbone.Router.extend({
        routes: {
            "team/:id": "getTeam",
            "team/lineups": "loadLineups",
            "lineups": "loadLineups",
            "reportcard": "loadReportCard",
            "*actions": "defaultRoute" // Backbone will try match the route above first
        }
    });
    // Instantiate the router
    var app_router = new AppRouter;
    app_router.on('route:getTeam', function (id) {
        roguesReportCard.set('team_id', id);
        roguesReportCard.fetch();
        //window.reportCardView = new ReportCardView({model: roguesReportCard});
    });
    app_router.on('route:loadLineups', function(id) {
        $('#lineup-tab').addClass('active');
        $('#report-card-tab').removeClass('active');
        window.reportCardView.remove();
        window.lineupGraphView = new LineupGraphView({model: roguesReportCard});
        window.lineupTableView = new LineupTableView({ model: roguesReportCard});
        $('#lineup-vis-container').append(window.lineupGraphView.render().el);
        $('#lineup-vis-container').append(window.lineupTableView.render().el);
        window.lineupGraphView.update();

    });
    app_router.on('route:loadReportCard', function() {
        console.log('reporting to duty');
        $('#lineup-tab').removeClass('active');
        $('#report-card-tab').addClass('active');

        window.lineupGraphView.remove();
        window.lineupTableView.remove();
        $('#lineup-vis-container').empty();

        window.reportCardView = new ReportCardView({model: roguesReportCard});
        $('#chart_container').append(window.reportCardView.render().el);
    });
    app_router.on('route:defaultRoute', function (actions) {
        roguesReportCard.set('team_id', '6');
        roguesReportCard.fetch();
        window.reportCardView = new ReportCardView({model: roguesReportCard});

    });



    // Start Backbone history a necessary step for bookmarkable URL's
    Backbone.history.start();
});

function BulletChart(data) {
    var margin = {top: 5, right: 40, bottom: 20, left: 120},
            width = 960 - margin.left - margin.right,
            height = 50 - margin.top - margin.bottom;

    var chart = d3.bullet()
            .width(width)
            .height(height);



    var svg = d3.select("#bullet_row").selectAll("svg")
            .data(data)
            .enter().append("svg")
            .attr("class", "bullet")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")")
            .call(chart);

    var title = svg.append("g")
            .style("text-anchor", "end")
            .attr("transform", "translate(-6," + height / 2 + ")");

    title.append("text")
            .attr("class", "title")
            .text(function (d) {
                return d.title;
            });

    title.append("text")
            .attr("class", "subtitle")
            .attr("dy", "1em")
            .text(function (d) {
                return d.subtitle;
            });

    this.updateBullets = function (data) {
        svg.data(data).call(chart); // TODO automatic transition
    };

    function randomize(d) {
        if (!d.randomizer) d.randomizer = randomizer(d);
        //d.ranges = d.ranges.map(d.randomizer);
        //d.markers = d.markers.map(d.randomizer);
        d.measures = d.measures.map(d.randomizer);
        return d;
    }

    function randomizer(d) {
        var k = d3.max(d.ranges) * .2;
        return function (d) {
            return Math.max(0, d + k * (Math.random() - .5));
        };
    }
}

function updateLineChart(lineData) {
    console.log("update line char")

    xRange = d3.scale.linear().range([MARGINS.left, WIDTH - MARGINS.right]).domain([1, 5]);
    yRange = d3.scale.linear().range([HEIGHT - MARGINS.top, MARGINS.bottom]).domain([0, 50]);


    var lineFunc = d3.svg.line()
            .x(function(d) {
                return xRange(d.week);
            })
            .y(function(d) {
                return yRange(d.delta);
            })
            .interpolate('linear');

    var vis = d3.select("#lineup_graph_svg_container")
            .select('svg')
            .select('path.teamline')
            .transition()
            .duration(2000)
            //.attr('stroke', 'red');
            .attr('d', lineFunc(lineData));

    window.lineData = lineData;
    d3.select("#lineup_graph_svg_container")
            .select('svg')
            .selectAll('circle.plotpoints')
            .data(lineData)
            .transition()
            .duration(2000)
            .attr('cy', function(d) { return yRange(d.delta);} );


}

function buildLineCharts(element, lineData) {
    console.log("build line charts with element ", lineData);
    var vis = d3.select("#lineup_graph_svg_container").append('svg')
                    .attr('width', 900)
                    .attr('height', 200);
    WIDTH = 900,
    HEIGHT = 200,
    MARGINS = {
      top: 20,
      right: 20,
      bottom: 20,
      left: 50
    },
    xRange = d3.scale.linear().range([MARGINS.left, WIDTH - MARGINS.right]).domain([1, 5]),
    yRange = d3.scale.linear().range([HEIGHT - MARGINS.top, MARGINS.bottom]).domain([0, 50]),
    formatxAxis = d3.format('.0f');
    xAxis = d3.svg.axis()
      .scale(xRange)
            .tickValues([1,2,3,4,5])
            .tickSize(6)
            .tickFormat(formatxAxis)
            .tickSubdivide(true);

    yAxis = d3.svg.axis()
      .scale(yRange)
            .ticks(4)
      .tickSize(6)
      .orient('left')
      .tickSubdivide(false);




vis.append('svg:g')
  .attr('class', 'x axis')
  .attr('transform', 'translate(0,' + (HEIGHT - MARGINS.bottom) + ')')
  .call(xAxis);

vis.append('svg:g')
  .attr('class', 'y axis')
  .attr('transform', 'translate(' + (MARGINS.left) + ',0)')
  .call(yAxis);

    var lineFunc = d3.svg.line()
  .x(function(d) {
    return xRange(d.week);
  })
  .y(function(d) {
    return yRange(d.delta);
  })
  .interpolate('linear');

    vis.append('path')
  .attr('d', lineFunc(lineData))
  .attr('stroke', 'blue')
  .attr('stroke-width', 2)
  .attr('fill', 'none')
            .attr('class', 'teamline');


        vis.selectAll('circle').data(lineData).enter().append('svg:circle')
            .attr('cx', function(d) { return xRange(d.week); } )
            .attr('cy', function(d) { return yRange(d.delta);} )
            .attr('fill', 'white')
                .attr('stroke', 'blue')
            .attr('r', '8')
                .attr('class', 'plotpoints');

}


</script>

{% endblock %}