{% extends "teams/base.html" %}


    {% block pagescripts %}

    <style>
    .bullet { font: 10px sans-serif; }
    .bullet .marker { stroke: #000; stroke-width: 2px; }
    .bullet .tick line { stroke: #666; stroke-width: .5px; }
    .bullet .range.s0 { fill: #eee; }
    .bullet .range.s1 { fill: #ddd; }
    .bullet .range.s2 { fill: #ccc; }
    .bullet .measure.s0 { fill: lightsteelblue; }
    .bullet .measure.s1 { fill: steelblue; }
    .bullet .title { font-size: 14px; font-weight: bold; }
    .bullet .subtitle { fill: #999; }


    .domain {
      fill: none;
      stroke: black;
      stroke-width: 1;
    }

    #reportcard_vis_container {
      margin: 10px;
    }
    </style>
    {% endblock %}

{% block content %}
    <div class="container">
        <div class="navbar-collapse collapse">
            <ul id="league_navigation" class="nav nav-tabs">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Teams<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        {% for team in teams %}
                            <li><a href="#/team/{{ team.espn_id }}">{{ team.team_name }}</a></li>
                        {%  endfor %}
                    </ul>
            </ul>
        </div>
    </div>

    <div class="tab-content">
        <div class="tab-pane active" id="report-card">
            <div class="container-fluid fill">
              <div id="reportcard_vis_container" style="text-align: center">
              </div>
            </div>
        </div>
        <div>
            <div id="lineup_vis_container" style="text-align: center">
                <svg id="lineup-vis" width="1000" height="200">
                    <path class="teamline" stroke="blue" stroke-width="2" fill="none"></path>
                </svg>
            </div>
            </div>
        </div>
        <div>
            <div id="draft_vis_container" style="text-align: center">
                <svg id="draft-vis" width="1000" height="200">
                    <path class="teamline" stroke="blue" stroke-width="2" fill="none"></path>
                  </svg>
            </div>
        </div>
        <div>
            <div id="waiver_vis_container" style="text-align: center">
                <svg id="waiver-vis" width="1000" height="200">
                    <path class="teamline" stroke="blue" stroke-width="2" fill="none"></path>
                </svg>
            </div>
        </div>
        <div>
            <div id="trade_vis_container" style="text-align: center">
                <svg id="trade-vis" width="1000" height="200">
                    <path class="teamline" stroke="blue" stroke-width="2" fill="none"></path>
                </svg>
            </div>
        </div>
        </div>
    </div>

{% endblock %}

{% block endscripts %}
    {{ block.super }}

    <script src="http://d3js.org/d3.v3.min.js"  charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/bullets.js"></script>

    <script id="lineup-table-template" type="text/template">
                        <table class="table table-bordered table-striped">
                            <tbody>
                            <tr>
                                <td>Week</td>
                                <% _.each(scorecards, function(scorecard) { %>
                                <td><%= scorecard.week %></td>
                                <% }); %>
                            </tr>
                            <tr>
                                <td>Delta</td>
                                <% _.each(scorecards, function(scorecard) { %>
                                <td><a href="<%= team_id %>/<%= field %>/<%= scorecard.week %>" ><%= scorecard.value %> </a></td>
                                <% }); %>
                            </tr>
                            </tbody>
                        </table>
    </script>
  <script src="/static/js/league_view.js"></script>
{% endblock %}