{% extends "teams/base.html" %}
{% load url from future %}

{% block header %}
{% endblock %}

{% block pagescripts %}
  <link href="/static/css/landing.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row landing-row">
      <div class="col-lg-6 about-col landing-col">

        <section class="about">
          <div class="about-desc">
        <form action="/register">
          <button id="join_now">Join Now!</button>
        </form>
            <h2>About</h2>
            <div class="line"></div>
            <br/>
            FantasyBuff gives you in-depth analysis into the performance of your fantasy football teams and leagues.
            <ul>
              <li>Lineup Setting Rankings</li>
              <li>Trade Evaluations</li>
              <li>Points-Off-Waiver Rankings</li>
              <li>And More</li>
            </ul>
          Feedback? Ideas? fantasybuffapp@gmail.com.
          </div>
          <div class="line"></div>
          <div class="about-desc">
            <h3>Import Your Teams From</h3>
            <div class="row">
              <div class="col-sm-3"></div>
              <div class="col-sm-3">
                <img  src="/static/img/espn_logo.png" width="85" height="69"/>
                <h4>ESPN</h4>
              </div>
              <div class="col-sm-3">
                <img src="/static/img/yahoo_fantasy.png" width="85" height="34"/>
                <h4>Yahoo <br /> (Coming Soon!)</h4>
              </div>
              <div class="col-sm-3"></div>
            </div>
          </div>
      </section>
      </div>
      <div class="col-lg-6 dark-col landing-col" >
        <section class="report-card">
          <img class="report-image" src="/static/img/reportcard.png" />
          <h2>League Report Card</h2>
          <div class="report-card-desc">
            Discover in-depth metrics on your fantasy lineups, trades, and drafts with our league analysis tool.
          </div>
          <form action="/demo">
            <button>View Demo League</button>
          </form>
          <div class="mailing-list">
            <div class="report-card-desc">Sign Up For Our Mailing List For Beta Invites and Feature Announcements</div>
            <form method="post" action="/mailing_list/">
              <input class="my-form-control" name="email" placeholder="Email"/>
              {% csrf_token %}
              <input class="my-form-control" type="submit" value="Subscribe">
            </form>
            {% for message in messages %}
              <div class="report-card-desc">{{ message }}</span>
            {% endfor %}
          </div>
        </section>
      </div>
    </div>

  <!--
          <div class="col-lg-6">
            <div>
              <h3>Login using <a href="http://openid.net/" title="OpenId">OpenId</a> from:</h3>
              <ul>
              {% for name in social_auth.backends.oauth %}
                  {{ name }}
                <li>
                  <a rel="nofollow" href="{% url "socialauth_begin" name %}">{{ name|title }}</a>
                </li>
              {% endfor %}
              {% for name in social_auth.backends.openid %}
                  {{ name }}
                <li>
                  <a rel="nofollow" href="{% url "socialauth_begin" name %}">{{ name|title }}</a>
                </li>
              {% endfor %}
              </ul>
            </div>
          </div>
      </div>
      -->


{% endblock %}

