{% extends "teams/base.html" %}

{% block content %}
    <div class="container-fluid">
    <h1>Teams Scraped {{ teams_scraped }}</h1>
    <h1>Players Scraped {{ players_scraped }}</h1>
    <h1>Loaded: {{ loaded }}</h1>
        <div class="row">
              <table class="table table-bordered table-hover table-striped">
                {% for team in teams %}
                    <tr>
                        <td>{{ team.team_name }}</td>
                        <td>{{ team.average_delta }}</td>
                    </tr>
                {%  endfor %}
         </div> <!--row -->
    </div> <!--container-fluid-->
{% endblock %}
