{% extends "teams/base.html" %}
{% load url from future %}

{% block header %}
{% endblock %}

{% block content %}

    <div class="row fill">
      <div class="col-lg-6">Hello</div>
      <div class="col-lg-6 dark-col" >
        <section class="report-card">
          <img class="report-image" src="/static/img/reportcard.png" />
          <h2>League Report Card</h2>
          <form action="/league2/930248/2014/#reportcard/6">
            <button>View Demo League</button>
          </form>
        </section>
      </div>
    </div>

<!--
      <div class="row">
          <div class="col-lg-6">
              <form method="POST" action="" role="form">
                  <div class="form-group">
                      {% csrf_token %}
                      <label>Email</label>
                      <input name="email" class="form-control">
                      <label>Password</label>
                      <input name="password" type="password" class="form-control">
                  </div>
                  <button type="submit" class="btn btn-default">Login</button>

              </form>
          </div>
-->
  <!--
          <div class="col-lg-6">
            <div>
              <h3>Login using <a href="http://openid.net/" title="OpenId">OpenId</a> from:</h3>
              <ul>
              {% for name in social_auth.backends.oauth %}
                  {{ name }}
                <li>
                  <a rel="nofollow" href="{% url "socialauth_begin" name %}">{{ name|title }}</a>
                </li>
              {% endfor %}
              {% for name in social_auth.backends.openid %}
                  {{ name }}
                <li>
                  <a rel="nofollow" href="{% url "socialauth_begin" name %}">{{ name|title }}</a>
                </li>
              {% endfor %}
              </ul>
            </div>
          </div>
      </div>
      -->
  <!--
          <form method="POST" role="form" action="signup/">
              <div class="form-group">
                  {% csrf_token %}
                  <label>Email</label>
                  <input name="email" class="form-control">
                  <label>Password</label>
                  <input name="password" type="password" class="form-control">
              </div>

              <button type="submit" class="btn btn-default">Create New Account</button>

          </form>-->
                <!-- /.row -->

{% endblock %}

