{% extends "teams/base.html" %}
{% load url from future %}

{% block header %}
{% endblock %}

{% block content %}
  <div id="wrapper" class="landing-wrapper">
    <div class="row fill">
      <div class="col-lg-6 about-col">
        <section class="about">
          <div class="about-desc">
            <h2>About</h2>
            <div class="line"></div>
            <br/>
            FantasyBuff gives you in-depth analysis into the performance of your fantasy football teams and leagues.
            <ul>
              <li>Lineup Setting Ranking</li>
              <li>Trade Evaluations</li>
              <li>Waiver Score</li>
              <li>And More</li>
            </ul>
          Feedback? Ideas? fantasybuffapp@gmail.com.
          </div>
          <div class="line"></div>
          <div class="about-desc">
            <h3>Import Your Teams From</h3>
            <div class="row">
              <div class="col-lg-3"></div>
              <div class="col-lg-3">
                <img  src="/static/img/espn_logo.png" width="85" height="69"/>
                <h4>ESPN</h4>
              </div>
              <div class="col-lg-3">
                <img src="/static/img/yahoo_fantasy.png" width="107" height="34"/>
                <h4>Yahoo <br /> (Coming Soon!)</h4>
              </div>

              <div class="col-lg-3"></div>
            </div>
            <form action="/register">
              <button>Join Now!</button>
            </form>
          </div>


      </section>
      </div>
      <div class="col-lg-6 dark-col" >
        <section class="report-card">
          <img class="report-image" src="/static/img/reportcard.png" />
          <h2>League Report Card</h2>
          <div class="report-card-desc">
            Discover in-depth metrics on your fantasy lineups, trades, and drafts with our league analysis tool.
          </div>
          <form action="/demo">
            <button>View Demo League</button>
          </form>
        </section>
      </div>
    </div>
  </div>

<!--
      <div class="row">
          <div class="col-lg-6">
              <form method="POST" action="" role="form">
                  <div class="form-group">
                      {% csrf_token %}
                      <label>Email</label>
                      <input name="email" class="form-control">
                      <label>Password</label>
                      <input name="password" type="password" class="form-control">
                  </div>
                  <button type="submit" class="btn btn-default">Login</button>

              </form>
          </div>
-->
  <!--
          <div class="col-lg-6">
            <div>
              <h3>Login using <a href="http://openid.net/" title="OpenId">OpenId</a> from:</h3>
              <ul>
              {% for name in social_auth.backends.oauth %}
                  {{ name }}
                <li>
                  <a rel="nofollow" href="{% url "socialauth_begin" name %}">{{ name|title }}</a>
                </li>
              {% endfor %}
              {% for name in social_auth.backends.openid %}
                  {{ name }}
                <li>
                  <a rel="nofollow" href="{% url "socialauth_begin" name %}">{{ name|title }}</a>
                </li>
              {% endfor %}
              </ul>
            </div>
          </div>
      </div>
      -->


{% endblock %}

