{% extends "teams/base.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
        Your Average Points Missed: {{ average_delta }}
            <table class="table table-bordered table-hover table-striped">
                <tr>
                    <td>Week</td>
                    <td>Actual Score</td>
                    <td>Optimal Score</td>
                    <td>Missed Points</td>
                </tr>
                {% for entry in weeks %}
                    <tr>
                        <td><a href="{{ entry.week }}">Week {{ entry.week }}</a></td>
                        <td>{{ entry.points }}</td>
                        <td>{{ entry.optimal_points }}</td>
                        <td>{{ entry.delta }}</td>
                    </tr>
                {%  endfor %}
            </table>
         </div> <!--row-->
    </div> <!--container-fluid-->
{% endblock %}
