{% extends "teams/base.html" %}

{% block content %}
            <div class="container-fluid">


                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-4">Actual Score: {{ actual_score }}</div>
                    <div class="col-lg-4">Optimal Score: {{ optimal_score }}</div>
                    <div class="col-lg-4">Delta: {{ delta }}</div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <h2>Actual Lineup</h2>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>Slot</th>
                                        <th>Position</th>
                                        <th>Player</th>
                                        <th>Points</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for entry in scorecard_entries %}
                                        <tr>
                                            <td>{{ entry.slot }}</td>
                                            <td>{{ entry.player.position }}</td>
                                            <td>{{ entry.player.name }}</td>
                                            <td>{{ entry.points }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h2>Optimal Lineup</h2>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>Slot</th>
                                        <th>Position</th>
                                        <th>Player</th>
                                        <th>Points</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for entry in optimal_entries %}
                                    <tr>
                                        <td>{{ entry.slot }}</td>
                                        <td>{{ entry.player.position }}</td>
                                        <td>{{ entry.player.name }}</td>
                                        <td>{{ entry.points }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /.row -->'
{% endblock %}